@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* .react-calendar__tile--now {
  background-color: #000000;
  color: #ffffff !important;
  border-radius: 8px;
  font-weight: 600;
} */

.react-calendar__tile {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.today-highlight {
  background: #000000;
  color: #ffffff !important;
  border-radius: 10px;
}

.today-highlight:hover {
  background: #808080 !important;
}

.react-calendar__tile:disabled {
  background-color: #ffffff !important;
}

.react-calendar {
  border-radius: 8px;
  padding: 1.25rem;
}
